<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gs_mobile">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gsmobile"
        tools:targetApi="31">

        <!-- MainActivity será a tela inicial -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gsmobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Atividades para login, cadastro, inserção, listagem e edição de dados -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login" />

        <activity
            android:name=".InsertDataActivity"
            android:exported="true"
            android:label="Inserir Dados" />

        <activity
            android:name=".ListDataActivity"
            android:exported="true"
            android:label="Listar Dados" />

        <activity
            android:name=".EditDataActivity"
            android:exported="true"
            android:label="Editar Dados" />

        <activity
            android:name=".CadastroActivity"
            android:exported="true"
            android:label="Cadastro" />

    </application>

</manifest>
